/*Letras*/
/*Colores*/
/*Variables*/
body {
  background-image: url(../imagenes/fondo.jpg);
  background-size: cover;
  font-family: "Roboto";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 25px 0px 25px 0px;
}

.card {
  width: 45%;
  padding: 15px 25px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo a img {
  width: 120px;
}
.logo a:hover {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.logo h1 {
  font-size: 2.5em;
}

.formulario {
  align-self: center;
  width: 80%;
  margin: 10px;
}

.form-group label {
  font-size: 1em;
  font-weight: bold;
}
.form-group .form-control:hover {
  border: solid 1px #094592;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.boton button {
  margin-bottom: 16px;
  font-size: 1em;
  font-weight: bold;
  background-color: #094592;
}

.errores {
  margin-bottom: 16px;
  font-size: 1em;
  color: red;
}

.enlaces {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.enlaces a {
  margin-bottom: 16px;
  font-size: 1em;
  text-decoration: none;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}
.redes a:hover {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.politicas {
  margin-top: 16px;
  text-align: center;
  font-size: 0.7em;
}

@media (max-width: 1200px) {
  .card {
    width: 60%;
  }
}
@media (max-width: 990px) {
  .card {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 575px) {
  body {
    background: #ffffff;
  }
  .logo {
    padding-bottom: 30px;
  }
  .card {
    border: none;
    padding: 25px 0;
    margin: 0;
  }
  .card-body {
    padding: 0;
  }
  .politicas {
    padding: 15px 50px;
  }
}
@media (max-width: 500px) {
  .enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 300px) {
  .logo h1 {
    text-align: center;
    font-size: 1.9em;
  }
  .logo a img {
    width: 100px;
  }
  .form-group label {
    font-size: 0.9em;
  }
  .boton button {
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  .enlaces a {
    font-size: 0.8em;
  }
  .politicas {
    margin-top: 10px;
    font-size: 0.7em;
  }
  .redes {
    margin-top: 12px;
  }
  .redes a img {
    width: 25px;
  }
}
@media (min-width: 242px) and (min-height: 793px) {
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 950px) and (max-height: 420px) {
  .card {
    border: none;
  }
  body {
    background: #ffffff;
  }
  .container {
    min-width: 100%;
  }
  .card {
    padding: 0;
    border: none;
    min-width: 100%;
  }
  .boton {
    margin-top: 8px;
  }
  .enlaces {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .politicas {
    padding: 0px 100px;
  }
}

/*# sourceMappingURL=login.css.map */
