/*Letras*/
/*Colores*/
/*Mixin*/
/*MIXIN*/
body {
  background-image: url(../imagenes/fondo2.jpg);
  background-size: cover;
  font-family: "Roboto";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5% 0 5% 0;
}
.container .card {
  width: 40%;
}
.container .card .card-body {
  display: flex;
  flex-direction: column;
}
.container .card .card-body .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.container .card .card-body .logo a:hover {
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.container .card .card-body .logo a:active {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.container .card .card-body .logo a img {
  width: 120px;
}
.container .card .card-body .logo h1 {
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
}
.container .card .card-body .logo p {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
}
.container .card .card-body .formulario {
  width: 90%;
  align-self: center;
  margin-top: 20px;
}
.container .card .card-body .formulario .form-group label {
  font-size: 1em;
  font-weight: bold;
}
.container .card .card-body .formulario .form-group .form-nick, .container .card .card-body .formulario .form-group .form-pass, .container .card .card-body .formulario .form-group .form-email, .container .card .card-body .formulario .form-group .form-nombre {
  border: solid 1px gainsboro;
  border-radius: 4px;
}
.container .card .card-body .formulario .form-group .form-nick input, .container .card .card-body .formulario .form-group .form-pass input, .container .card .card-body .formulario .form-group .form-email input, .container .card .card-body .formulario .form-group .form-nombre input {
  border: none;
  border-radius: 4px;
}
.container .card .card-body .formulario .form-group .form-nick:hover, .container .card .card-body .formulario .form-group .form-pass:hover, .container .card .card-body .formulario .form-group .form-email:hover, .container .card .card-body .formulario .form-group .form-nombre:hover {
  border: solid 1px #094592;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.container .card .card-body .formulario .form-group .form-pass {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .card .card-body .formulario .form-group .form-pass span {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.container .card .card-body .formulario .form-group .form-pass span:hover {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.container .card .card-body .formulario .form-errores {
  font-size: 0.8em;
  color: #F22233;
  margin-top: 20px;
}
.container .card .card-body .formulario .form-boton {
  margin-top: 20px;
  margin-bottom: 50px;
}
.container .card .card-body .formulario .form-boton button {
  background-color: #094592;
  font-size: 1em;
  font-weight: bold;
}
.container .card .card-body .formulario .form-boton button:hover {
  background-color: #285CA0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.container .card .card-body .formulario .form-boton button:active {
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.container .card .card-body .redes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
.container .card .card-body .redes a {
  color: #010912;
}
.container .card .card-body .redes a:hover {
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}
.container .card .card-body .redes a:active {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 70);
  filter: alpha(opacity=70);
  transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

@media (max-width: 1199px) {
  .container .card {
    width: 45%;
  }
}
@media (max-width: 991px) {
  .container .card {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .container .card {
    width: 80%;
  }
}
@media (max-width: 463px) {
  .container .card {
    width: 90%;
  }
  .container .card .card-body .logo a img {
    width: 100px;
  }
  .container .card .card-body .logo h1 {
    font-size: 1.8em;
  }
  .container .card .card-body .logo p {
    padding: 0;
    font-size: 1em;
  }
  .container .card .card-body .formulario {
    width: 90%;
    margin-top: 8px;
  }
}
@media (max-width: 313px) {
  .container .card .card-body .formulario {
    width: 100%;
    font-size: 0.8em;
  }
}
@media (min-width: 0px) and (min-height: 620px) {
  body {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
}

/*# sourceMappingURL=verificarCuenta.css.map */
