/*Tamaños*/
$h1:2.5em;
$h1-2:1.9em;

$label:1em;
$label-2:.8em;

$enlace:1em;
$enlace-2:.8em;

$errores:1em;
$errores-2:1em;

$boton:1em;
$boton-2:.8em;

$politicas:.7em;
$politicas-2:.5em;

$img-logo:120px;
$img-logo-2:100px;

$img-redes:25px;

/*Colores*/
$color-principal:#094592;
$color-error:red;