@import "v-globales";
@import "v-formularios";

body{
    @include body;    
}

.container{       
    @include container;  

    .card{       
        width: 40%;

        .card-body{  
            display: flex;
            flex-direction: column;

            .logo{
               @include logo; 
            
                a{
                    @include efecto-elemento;

                    img{                   
                        width: $img-logo;
                    }               
                } 
            
                h1{
                    @include encabezado;       
                }
            
                p{
                    @include encabezado-parrafo; 
                }
            }

            .formulario{
                width: 90%;
                align-self: center;
                margin-top: 20px; 
                
                .form-group{ 
                    @include form;
                                       
                    .form-pass{                        
                        @include form-pass;                      
                    }
                }

                .form-errores{
                    @include errores;  
                    margin-top: 20px;                                      
                }
                
                .form-boton{ 
                    @include boton; 
                    margin-top: 20px; 
                    margin-bottom: 40px;                                       
                }
            }

            .redes{
                @include redes;
            }
        }
    }     
}

@media (max-width: 1024px) {
    .container .card{
        width: 60%;
    } 
}

@media (max-width: 768px) {
    .container .card{
        width: 80%;
    }    
}

@media (max-width: 480px) {
    .container .card{
        width: 90%;
        
        .card-body{
            .logo{      
                a img{                       
                    width: $img-logo-2;                       
                }
                   
                h1{       
                    font-size: $h1-2;      
                }
            
                p{
                    padding: 0;   
                    font-size: $p-2;       
                }
            }

            .formulario{
                width: 90%;      
                margin-top: 8px;      
            }
        }
    }
}

@media (max-width: 320px) {
    .container .card .card-body {
        .logo{          
            p{
                font-size: $p-2;
                padding: 0;           
            }
        }
    
        .formulario{
            width: 100%;
            font-size: $label-2;
        }   
    }
}

@media (min-width: 0px) and (min-height: 620px){   
    body{
        height: 100vh;
        margin: 0;
        padding: 0;
    }
}