@import "v-globales";
@import "v-formularios";

/*Variables*/
$h1:5.4em;
$h1-2:3.8em;

$h2:1.6em;
$h2-2:1.2em;

$p:2.2em;

body{
    @include body;
}

.container{   
    @include container;
    padding: 25px 0px 25px 0px;

    .registro{
        width: 80%;    
        
        .registro__izq{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 25px;
            background-image: url(../imagenes/fondo-registro.jpg);
            background-size: cover;

            .registro__izq__info{
                text-align: start;
                color: $color-blanco;
            
                .info_p{
                    margin-bottom: 26px;
                    font-weight: bold;
                    font-size: $p;       
                }           
            }
            
            .registro__izq__redes{
                @include redes;
                margin-bottom: 0;
                margin-top: 15px;
                
                a{
                    color: $color-blanco;                                      
                }             
            }
        }

        .registro__drch{
            display: flex;
            flex-direction: column;
            background-color: $color-blanco;

            .registro__drch__logo{
               @include logo;              
               flex-direction: row;  
               margin-bottom: 0;
            
                a{
                    @include efecto-elemento;
                    margin-right: 20px;
                    
                    img{
                        width: $img-logo;
                    }                    
                }
            
                h1{
                    @include encabezado;
                    font-family: $kolker;     
                    font-weight: normal;                   
                }
            }

            .registro__drch__formulario{
                align-self: center; 
                padding: 10px 25px;
                
                h2{  
                    padding: 0px 0px 5px 5px;     
                    font-size: $h2;
                    font-weight: bold;
                }

                .form-group{ 
                    @include form;
                                       
                    .form-pass{                        
                        @include form-pass;                      
                    }
                
                }

                .form-errores{
                    @include errores;
                }

                .form-boton{                  
                    @include boton;
                    
                    button{
                        margin-top: 16px;
                        margin-bottom: 22px;
                    }
                }                             
            }
            
            .registro__drch__login{
                display: flex;
                flex-direction: row;
                align-self: center;                 
                padding: 0px 5px 0px 5px;
                
                a{
                    @include enlaces;
                    padding-left: 5px;                    
                }
            }
            
            .registro__drch__redes{
                display: none;
            }
            
            .registro__drch__politicas{                
                margin-top: 10px;
                padding: 0px 5px 0px 5px; 
                text-align: center;      
                font-size: $politicas;

                a{                           
                    @include enlaces;
                }
            }
        }
    }
}

@media (max-width: 1328px) {
    .container .registro{
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .container .registro{
        width: 80%;
        .registro__izq{
            display: none;
        }
            
        .registro__drch{
            min-width:100%;
            
            .registro__drch__logo{
                h1{
                    font-size: $h1-2;
                }

                a img{                
                    width: $img-logo-2;
                }
            }

            .registro__drch__formulario{
                h2{
                    font-size: $h2-2;
                }

                .form-group label{                 
                    font-size: $label;                   
                }

                .form-errores{        
                    font-size: $errores-2;       
                }
    
                .form-boton button{                              
                    font-size: $boton; 
                    margin-bottom: 10px;           
                }              
            } 
              
            .registro__drch__politicas{
                margin-top: 5px;
                font-size: $politicas;
            }

            .registro__drch__redes{
                @include redes;  
            }
        }
    }   
}

@media (max-width: 768px) {
    .container .registro{
        width: 100%;
    }
}

@media (max-width: 575px) {
    body{
        background: $color-blanco;
        
    }

    .container .registro .registro__drch{
        .registro__drch__logo{
            h1{
                font-size: $h1-2;
            }
    
            a img{                
                width: $img-logo-2;                
            }
        }

        .registro__drch__formulario .form-group{ 
            label{
                font-size: $label-2;
            }
        }
    }
}

@media (max-width: 320px) {
    .container .registro .registro__drch{
        .registro__drch__logo{
            h1{
                display: none;
            }       
        }

        .registro__drch__formulario{
            padding: 0px 0px;
        }
        
        .registro__drch__login{
            margin-top: 10px;
            font-size: $enlace;
        }
    }
}

@media (max-width: 245px) {  
    .container .registro .registro__drch{
        .registro__drch__login{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        
            a{
                padding-left: 0px;
                text-decoration: none;       
            }
        }
    
        .registro__drch__redes{
            margin-top: 30px;
        }    
    }   
}

@media (max-width: 575px) and (max-height: 792px){    
    .container .registro .registro__drch{
        .registro__drch__logo{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
    }    
}

@media (max-width: 950px) and (max-height: 420px){    
    body{
        background: $color-blanco;       
    }

    .container{      
        min-width: 100%;

        .registro{
            min-width: 10%;

            .registro__izq{
                display: none;
            }

            .registro__drch{
                min-width:100%
            }
        }
    }     
}

//793
@media (min-width: 245px) and (min-height: 800px){   
    body{
        @include body-vh;
    }   
}